sudo: required

language: python

install: true

services:
  - docker

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

before_install:
  ## Docker Build
  - docker build -t pipeline/django .
  - docker run -i -t --name django-nV -p 8000:8000  pipeline/django /django.nV/docker-startup.sh
  - sh tests/python-sec.sh

after_success:
  ## Run the SRC:CLR Scan
  - curl -sSL https://download.sourceclear.com/ci.sh | bash
  ## Run Bandit python static code
  - bandit -r * -x tests
  ## Run Docker Bench for Security
  - git clone https://github.com/docker/docker-bench-security.git
  - cd docker-bench-security
  - sh docker-bench-security.sh

script:

addons:
  firefox: "45.0"
