version: '3'

services:
  django:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: django.nv
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./:/app
    command: /runpublic.sh
