 <section class="wrapper site-min-height">
     <!-- page start-->
     <div class="row">
       <div class="col-md-9">
     <div class="tab-content">
     <div class="tab-pane active" id="tab_1">
         <div class="panel-group" id="accordion1">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                             Insecure Direct Object Reference (IDOR)
                         </a>
                     </h4>
                 </div>
                 <div class="panel-collapse collapse  in" id="accordion1_1">
                     <div class="panel-body">
                       <h6><strong>Description</strong></h6>
                        <p>
                          Insecure Direct Object Reference is a class of vulnerability where attackers are able to access pages they are not meant to have access to simply by changing parameter values. This attack results from a combination of insufficient access controls, and overly excessive client trust (excess/unneccesary request parameters).
                        </p>
                     </div>
                 </div>
             </div>
             <div class="panel panel-danger">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                            Bug
                         </a>
                     </h4>
                 </div>
                 <div class="panel-collapse collapse" id="accordion1_2">
                    <div class="panel-body">
                        There are several instances of IDOR throughout this application. The example below is the method call for deleting tasks with an associated project. Note the lack of auth checks performed on the task_id before deleting the task.
                    </div>
                    <pre class="brush: python">
def task_delete(request, project_id, task_id):     
    proj = Project.objects.get(pk = project_id)
    task = Task.objects.get(pk = task_id)
    if proj != None:
        if task != None and task.project == proj:
            task.delete()

    return redirect('/taskManager/' + project_id + '/')
                    </pre>
                 </div>
             </div>
             <div class="panel panel-success">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                            Solution
                         </a>
                     </h4>
                 </div>
                 <div class="panel-collapse collapse" id="accordion1_3">
                     <div class="panel-body">
                         Perform an authorization check prior to performing any state changing operation or returning any sensitive data to a user.
                     </div>
                 </div>
             </div>
             <div class="panel panel-warning">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                             Hint
                         </a>
                     </h4>
                 </div>
                 <div class="panel-collapse collapse" id="accordion1_4">
                     <div class="panel-body">
                         Try modifying ID values in requests made to the application. This is typically much easier to achieve using a client side proxy such as Burpsuite or Fiddler
                         especially with POST requests.
                     </div>
                 </div>
             </div>
         </div>
     </div>
     </div>
     <!-- page end-->
 </section>
