<!DOCTYPE html>
<html>
	<head>
	<title>Base Theme - Bootstrap:about</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Styles
	================================================== -->	
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/app.css" rel="stylesheet">
	
	<!-- Google Fonts
	================================================== -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:300,400,400italic,700" >
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,400italic,700" >	
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	</head>
<body>	
	
<!-- Page Wrapper
================================================== -->
<div id="wrap" class="page">

<!-- Navbar
================================================== -->
<div class="nav-wrap">
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="index.html">
						<strong>Simply Flat</strong>
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li class="active"><a href="index.html" class="active">Home</a></li>
							<li class="divider-vertical"></li>
							<li><a href="about.html">About Us</a></li>
							<li class="divider-vertical"></li>
							<li><a href="contact.html">Contact Us</a></li>
							<li class="divider-vertical"></li>
							<li><a href="blog.html">Blog</a></li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Pages
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="features.html">Features</a></li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="portfolio-item.html">Portfolio Item</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>	
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Page Header
================================================== -->
<div id="page-heading">
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>About Us</h1>
					<h4 class="subheader">Vel tempor referrentur neglegentur cu, mel ut enim iudicabit intellegat, ea putent salutandi quo. Sonet putant graecis ut nec. Magna laoreet consequuntur vis referrentur neglegentur.</h4>
				</div>
			</div>	
		</div>
	</div>
	<div class="container">
		<div class="arrow-down"></div>		
	</div>
</div>

<hr class="hr-spacer space30">

<!-- Main Content
================================================== -->
<div id="about_us">
	<div class="container">
		
		<!-- Content Block
		================================================== -->
		<div class="row-fluid">
			<div class="content-box about">		
				<div class="span7 about-inner">
					<h4 class="section-lead">There are many variations of passages Lorem Ipsum available, injected generators on the hidden.</h4>
					<p>Tempor admodum adipisci et cum, hinc solum expetendis usu no. Usu ut esse laoreet consequat. Sea mundi decore fastidii et, at mei laudem perfecto oportere, harum deserunt no est. Cum at idque iracundia, diam ceteros molestie vix ad.</p>
					<p>Eam exerci dolores complectitur ex, patrioque maiestatis eu duo, prompta recteque eam te.</p>
				</div>
				<div class="span5 about-inner">
					<img src="http://lorempixel.com/400/300/business/" />
				</div>
				<div class="clearfix"></div>
			</div>		
		</div>
		
		<hr class="hr-spacer space50">
		
		<!-- Content Block
		================================================== -->
		<div class="section-headline">
			<h1>Our Team</h1>
		</div>		
		<div class="row team">
			<div class="span6">
				<div class="team-thumb">
					<img src="http://lorempixel.com/500/300/business/1" />
					<h3>
						<a>Jason Bourne</a><br>
						<small>Chief Executive Officer / CEO</small>						
					</h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
					<ul class="unstyled inline">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-google-plus"></i></a></li>
					</ul>
				</div>			
			</div>
			<div class="span6">
				<div class="team-thumb">
					<img src="http://lorempixel.com/500/300/business/2" />
					<h3>
						<a>Jason Bourne</a><br>
						<small>Chief Executive Officer / CEO</small>						
					</h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
					<ul class="unstyled inline">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-google-plus"></i></a></li>
					</ul>
				</div>			
			</div>
			<div class="span6">
				<div class="team-thumb">
					<img src="http://lorempixel.com/500/300/business/3" />
					<h3>
						<a>Jason Bourne</a><br>
						<small>Chief Executive Officer / CEO</small>						
					</h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
					<ul class="unstyled inline">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-google-plus"></i></a></li>
					</ul>
				</div>			
			</div>
			<div class="span6">
				<div class="team-thumb">
					<img src="http://lorempixel.com/500/300/business/4" />
					<h3>
						<a>Jason Bourne</a><br>
						<small>Chief Executive Officer / CEO</small>						
					</h3>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
					<ul class="unstyled inline">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-google-plus"></i></a></li>
					</ul>
				</div>			
			</div>
		</div>
		
		<hr class="hr-spacer space35">


	</div><!-- End container -->	
</div><!-- End about_us ID -->


<div id="sub-footer-push"></div>
<!-- Push Sub-Footer -->

</div>
<!-- End Page Wrapper -->

<!-- Footer
================================================== -->
<div id="footer">	
	<div class="container">
		<div class="row">
			<div class="span4">
				<h4>Simply Flat</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu posuere leo. Pellentesque a lobortis erat. Maecenas vel metus vitae urna sollicitudin eleifend a vel elit. </p>
			</div>
			<div class="span4 testimonial">
				<h4>Testimonials</h4>
				<blockquote>
				<p><i class="icon-quote-left"></i> Consectetur adipiscing elit. Pellentesque eu posuere leo. Pellentesque a lobortis erat. Maecenas vel metus vitae urna sollicitudin eleifend a vel elit. </p>
				<small>LouEtta</small>
				</blockquote>
			</div>
			<div class="span3 contact pull-right">
				<h4>Contact Us</h4>
				<ul class="unstyled contact-list">
					<li><i class="icon-home contact-icon"></i>5B Streat, City 50987</li>
					<li><i class="icon-envelope-alt contact-icon"></i><a href="#">info@example.com</a></li>
					<li><i class="icon-phone-sign contact-icon"></i>1.541.258.2881</li>
					<li><i class="icon-print contact-icon"></i>1.541.854.8412</li>
					<li><i class="icon-globe contact-icon"></i><a href="#">http://www.example.com</a></li>
				</ul>
			</div>	
		</div>
		<div class="row">
			<div class="span12 social">
				<h4>We're Social</h4>
				<ul class="unstyled social-list">
					<li><a href="#"><i class="icon-facebook icon-2x"></i></a></li>
					<li><a href="#"><i class="icon-twitter icon-2x"></i></a></li>
					<li><a href="#"><i class="icon-linkedin icon-2x"></i></a></li>
					<li><a href="#"><i class="icon-pinterest icon-2x"></i></a></li>
					<li><a href="#"><i class="icon-google-plus icon-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Sub-Footer -Sticky
================================================== -->
<div id="sub-footer">
	<div class="container">
		<div class="row credits">
			<div class="span6"><p>&copy; 2013 Simply Flat</p></div>
			<div class="span6"><p class="pull-right">Theme by <a href="http://northify.com">Northify</a></p></div>
		</div>
  	</div>
</div>	

<!-- Javascript
================================================== -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	
</body> 	
</html>