{% extends 'taskManager/base_backend.html' %}

{% block content   %}

<!--main content start-->
<section class="wrapper">
<div class="row">
  <div class="col-lg-6">
      <section class="panel">
          {% include 'taskManager/messages.html'%}
          <header class="panel-heading">
              Change Password
          </header>
          <div class="panel-body">
              <form method="post" role="form">
                  <div class="form-group col-lg-7 col-sm-7">
                      <label >Old Password</label>
                      <input type="password" name="old_password" class="form-control">
                      <label >New Password</label>
                      <input type="password" name="new_password" class="form-control">
                      <label >New Password (Confirm)</label>
                      <input type="password" name="confirm_password" class="form-control">
                      <hr>
                      <button type="submit" class="btn btn-info">Save</button>
                  </div>

              </form>

          </div>
      </section>
  </div>
  
</div>  
</section>

{% endblock %}