{% extends 'taskManager/base_backend.html' %}

{% block content %}
<section class="wrapper">
<div class="row">
  <div class="col-lg-6">
      <section class="panel">
          <header class="panel-heading">
              Note Creation
          </header>
          <div class="panel-body">
              <form method="post" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                      <label >Enter Note Title</label>
                      <input name="note_title" class="form-control" placeholder="">
                      <label >Enter Note Description</label>
                      <textarea name="text" class="form-control" placeholder=""></textarea>
                  </div>
                  <button type="submit" class="btn btn-info">Finish</button>
              </form>

          </div>
      </section>
  </div>
  
</div>  
</section>

{% endblock %}