{% extends 'taskManager/backend/base.html' %}
{% block content %}


<!--main content start-->

    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                All projects List
                <span class="pull-right">
                    <button type="button" id="loading-btn" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                    <a href="/taskManager/newproj/" class=" btn btn-success btn-xs"> Create New Project</a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="input-group"><input type="text" placeholder="Search Here" class="input-sm form-control"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-success"> Go!</button> </span></div>
                    </div>
                </div>
            </div>
            <table class="table table-hover p-table">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Team Member</th>
                    <th>Project Progress</th>
                    <th>Project Status</th>
                    <th>Custom</th>
                </tr>
                </thead>
                <tbody>
                  {% if latest_Project_list %}
                    {% for proj in latest_Project_list %}
                      <tr>
                          <td class="p-name">
                              <a href="{% url 'taskManager:proj_details' proj.id %}">{{proj.project_title}}</a>
                              <br>
                              <small>Created 27.11.2014</small>
                          </td>
                          <td class="p-team">
                            {% for u in proj.users_assigned.all%}
                              <a href="#"><img alt="image" class="" src="{{u.userprofile.profile_img}}"></a>
                            {% endfor %}
                          </td>
                          <td class="p-progress">
                              <div class="progress progress-xs">
                                  <div style="width: 87%;" class="progress-bar progress-bar-success"></div>
                              </div>
                              <small>87% Complete </small>
                          </td>
                          <td>
                              <span class="label label-primary">Active</span>
                          </td>
                          <td>
                              <a href="{% url 'taskManager:proj_details' proj.id %}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <p> No projects are available.</p>  
                  {% endif %}
              </tbody>
            </table>
        </section>
        <!-- page end-->
    </section>

<!--main content end-->



{% endblock %}

<!--
	<ul>
	
		<a href="{% url 'taskManager:proj_details' proj.id %}"/><li class='btn'>{{proj.project_title}}</li></a>
	
	</ul>

	
-->