{% extends 'taskManager/base.html' %}

{% block content   %}

<!--main content start-->
<section class="wrapper">
<div class="row">
  <div class="col-lg-8">
      <section class="panel">
          {% include 'taskManager/messages.html'%}
          <header class="panel-heading">
              <h4>Forgot Password</h4>
          </header>
          <div class="panel-body">
              <p>Enter your email to reset your password. You'll receive a reset token in your email,
              which you can click to complete the password reset process<br />
              <br />
              <b>If you ever receive a reset token you did not request, simply ignore it and the token will expire.</b></p>
              <form method="post" role="form">
                  <div class="form-group col-lg-7 col-sm-7">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control">
                      <hr>
                      <button type="submit" class="btn btn-info">Save</button>
                  </div>

              </form>

          </div>
      </section>
  </div>

</div>
</section>

{% endblock %}
