{% extends 'taskManager/base.html' %}

{% block menu %}
<ul class="nav pull-right">
	<li><a href="/taskManager/register/">Register Here</a></li>

	{% if user.is_authenticated %}
	<li class="divider-vertical"></li>
	<li><a href="/taskManager/logout/"><li>Log Out</a></li>
	{% else %}
	<li class="divider-vertical"></li>
	<li><a href="/taskManager/login/">Log In</a></li>
	{% endif %}

	{% if user.is_authenticated %}
	{% if admin_level == True %}

	<li class="divider-vertical"></li>
	<li><a href='/taskManager/newproj/'>Create a project</a></li>
	<li class="divider-vertical"></li>
	<li><a href = {% url 'taskManager:manage_groups' %}>Manage Users</a></li>
	<li class="divider-vertical"></li>
	<li><a href = {% url 'taskManager:manage_projects' %}>Manage Projects</a></li>

</ul>
{% endif %}
{% endif %}
{% endblock %}




{% block content %}
{% if user.is_authenticated %}
<h1>hello {{ user.username }}!</h1>

{% elif disabled_user == True %}

<h3>Your account has been disabled! The powers at be deny you access</h3>
<h1>hello!</h1>

{% else %}

<h1>hello!</h1>

{% endif %}

{% if permission == False %}

<h4>You do not have the permissions to view that page</h4>

{% endif %}

{% if new_project_added == True %}

<h4>A new project has been added! </h4>

{%  endif %}

<h4>All Projects</h4>

{% if latest_Project_list %}
	<ul>
	{% for proj in latest_Project_list %}
		<a href="{% url 'taskManager:proj_details' proj.id %}"/><li class='btn'>{{proj.project_title}}</li></a>
	{% endfor%}
	</ul>
{% else %}
	<p> No projects are available.</p>
{%endif%}

{% endblock %}




<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>


