<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Login</title>
    </head>

    <body>
        <h1>Login to Task Manager</h1>

        {% if failed_login == False %}

        <h3>Login failed. Please try again</h3>

        {% endif %}

        <form id="login_form" method="post">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>

    </body>
</html>