<!DOCTYPE html>
{% extends 'taskManager/base.html' %}
<html>
    <head>
    </head>

    <body>
        {% block menu %}
        {% if logged_in == True %}
        <ul class="nav pull-right">
            <li><a href="/taskManager/">&lt;--- Return Home</a></li>
        </ul>
        {% endif %}

        {% endblock %}
        {% block content %}

        {% if logged_in == True %}

        <h1>Manage Groups</h1>

        {% if groups_changed = True %}
        <h4>Access levels have been updated</h4>
        {% endif %}

        <form method = "post">
            {% csrf_token %}
            <b>User:</b> <select name="userid" id="userid">
            {% for user in users %}
                <option value="{{user.id}}">{{user.username}} - {{user}}</option>
            {% endfor %}
            </select>
            <br />
            <input type="radio" name="accesslevel" id="accesslevel" value="admin_g"> Admin Access<br />
            <input type="radio" name="accesslevel" id="accesslevel" value="project_managers"> Project Manager Access<br /> 
            <input type="radio" name="accesslevel" id="accesslevel" value="team_member" checked> Project Member Access<br />
            <br />
            <input type="submit" value="Submit" />
        </form>
        
        {% endif %}
        {% endblock %}

        <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>
    </body>
</html>