{% extends 'taskManager/base_backend.html' %}
      
  {% block content %}
  <section class="wrapper">
  <div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Upload a file
            </header>
            <div class="panel-body">
                <form method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>File Name</label>
                        <input id="id_name" maxlength="300" name="name" type="text" />
                    </div>
                    <div class="form-group">
                        <input id="id_file" name="file" type="file" />
                    </div>
                    <button type="submit" class="btn btn-info">Upload</button>
                </form>

            </div>
        </section>
    </div>
    
  </div>  
  </section>
                
{%  endblock %}