{% extends 'taskManager/base_backend.html' %}

{% block content %}

<!-- main content start-->
	
	<section class="wrappter site-min-height">
		<!-- page start -->
		<section class="panel">
			<header class="panel-heading"> Profile View {{profile.username}}
			</header>
		</section>
		<div class="row">
			<div class="col-md-8">
				<div class="bio-row">
					<p><span class="bold">First Name: </span>{{profile.first_name}}</p></a>
				</div>
				<div class="bio-row">
					<p><span class="bold">Last Name: </span>{{profile.last_name}}</p>
				</div>
				<div class="bio-row">
					<p><span class="bold">Email: </span>{{profile.email}}</p>
				</div>
				<div class="bio-row">
					<p><span class="bold">Icon: 
					</span>
					<span class="p-user">
						<a href="#"><img alt="image" class="" src={{image}} height="35px" width="35px"></a>
					</span>
					</p>
				</div>
				<div class="bio-row">
					<p><span class="bold">Role: </span>{{role}}</p>
				</div>
			</div>
		</div>
	</section>




{% endblock %}