{% extends 'taskManager/base_backend.html' %}

{% block content   %}

<!--main content start-->
<section class="wrapper">
<div class="row">
  <div class="col-lg-6">
      <section class="panel">
          {% include 'taskManager/messages.html'%}
          <header class="panel-heading">
              Edit Profile ({{user.username}})
          </header>
          <div class="panel-body">
              <form method="post" role="form" action="/taskManager/profile/{{user.id}}">
                  <div class="form-group col-lg-7 col-sm-7">
                      <label >First Name</label>
                      <input name="first_name" class="form-control" value ="{{user.first_name}}">
                      <label >Last Name</label>
                      <input name="last_name" class="form-control" value="{{user.last_name}}">
                      <label >Email</label>
                      <input name="email" class="form-control" value="{{user.email}}">
                      <label >Password</label>
                      <!-- <input type="password" name="password" class="form-control"> -->
                      <hr>
                      <button type="submit" class="btn btn-info">Save</button>
                  </div>

              </form>

          </div>
      </section>
  </div>
  
</div>  
</section>

{% endblock %}