{% extends 'taskManager/backend/base.html' %}

{% block content   %}

<!--main content start-->

    <section class="wrapper site-min-height">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Projects Details
                <span class="pull-right">
                    <a href="{% url 'taskManager:proj_details' proj.id %}" id="loading-btn" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i> Refresh</a>
                </span>
            </header>

        </section>
        <div class="row">
            <div class="col-md-8">
                <section class="panel">
                    <div class="bio-graph-heading project-heading">
                        <strong> [{{proj.project_title}}]</strong>
                    </div>
                    <div class="panel-body bio-graph-info">
                        <!--<h1>New Dashboard BS3 </h1>-->
                        <div class="row p-details">
                            <div class="bio-row">
                                <p><span class="bold">Status </span>: <span class="label label-primary">Active</span></p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Created </span>: {{proj.start_date}} </p>
                            </div>
                            <div class="bio-row">
                                <p><span class="bold">Participants </span>:
                                <span class="p-team">
                                    {% for u in proj.users_assigned.all%}
                                      <a href="#"><img alt="image" class="" src="{{u.userprofile.profile_img}}"></a>
                                    {% endfor %}
                                </span>
                                </p>
                            </div>

                            
                        </div>

                    </div>

                </section>

                <section class="panel">
                  <header class="panel-heading">
                    Tasks
                  </header>
                  <div class="panel-body">
                      <table class="table table-hover p-table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Created At</th>
                        <th>Description</th>
                        <th>Notes</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in proj.task_set.all %}  
                      <tr>
                          <td>
                              {{task.title}}
                          </td>
                          <td>
                              {{task.pub_date}}
                          </td>
                          <td>
                            {{task.task_text}}
                          </td>  
                          <td>
                              {% if task.notes_set.count > 0 %}
                                <span class="badge bg-success">{{task.notes_set.count}}</span>
                              {% else %}
                              <span class="badge">0</span>
                              {% endif %}
                          </td>
                          <td>
                             {% if task.completed == True %}
                              	 <span class="label label-info">Completed</span>
                              {% else %}
                              	 <span class="label label-warning">In Progress</span>
                              {% endif %}
                             
                          </td>
                      </tr>
                    {% endfor %}  
                </tbody>
                    </table>
                  </div>
                </section>

            </div>
            <div class="col-md-4">
                <section class="panel">
                    <header class="panel-heading">
                        Projects Description
                    </header>

                    <div class="panel-body">
                        <p>
                            {{proj.project_text}}
                        </p>
                        <br/>
                        <h5 class="bold">Priority</h5>
                        <ul class="nav nav-pills nav-stacked labels-info ">
                            <li><i class=" fa fa-circle text-danger"></i> High Priority</p></li>
                        </ul>

                        <br/>
                        <h5 class="bold">Project files</h5>
                        <br/>

                        <h5 class="bold">Project Tags</h5>
                        
                        <div class="text-center mtop20">
                            <a href="{% url 'taskManager:new_task' proj.id %}" class="btn btn-sm btn-primary">Add task</a>
                            <a href="#" class="btn btn-sm btn-primary">Add files</a>
                        </div>
                    </div>

                </section>
            </div>
        </div>
        <!-- page end-->
    </section>

{% endblock %}