<!DOCTYPE html>
<html>
    <head>
        <title>Task Manager</title>
    </head>

    <body>

        {% if registered %}
        Task Manager says: <strong>thank you for registering!</strong>
        <a href="/taskManager/">Return to the homepage.</a><br />
        {% else %}
        <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/taskManager/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>