
{% extends 'taskManager/base.html' %}
      
        {% block content %}
        {% if registered %}
            <strong>Thanks for registering!</strong>
            <a href="/taskManager/login">Return to the homepage.</a><br />
        {% else %}
        
          <div class="col-lg-7 col-sm-7 address">
               <h4>Registration</h4>
               <div class="contact-form">
                   <form method="post" role="form" action="/taskManager/register/" enctype="multipart/form-data">
                      {% csrf_token %}
                     <div class="form-group">
                      {{ user_form }}
                     </div>  
                       <button class="btn btn-danger" type="submit">Register</button>
                   </form>
          
               </div>
          </div>
        
        {% endif %}
        
        {%  endblock %}
      